.App {
  text-align: center;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-button-container {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
